:root {
  --black-color: #0e0d0b;
  --gold-color: #cc9f75;
  --white-color: #ffffff;
  --grey-color: #f1f1f1;
}

#vote-modal {
  width: 100%;
  height: 100vh;
  color: var(--white-color);
  font-family: merchantBold;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-background {
  background-color: color-mix(in srgb, var(--black-color), transparent 10%);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}
#modal-div {
  width: 40%;
  height: 400px;
  border: 2px solid var(--gold-color);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--black-color);
}

#modal-div > hr {
  border-color: color-mix(in srgb, var(--white-color), transparent 70%);
}
#contestant-to-vote {
  margin-top: 20px;
}

#category-to-vote {
  font-family: manrope;
  font-size: 0.7rem;
  margin-top: -10px;
  margin-bottom: 15px;
  /* color: color-mix(in srgb, var(--grey-color), transparent 40%); */
  color: var(--gold-color);
}

#info {
  font-family: manrope;
  font-size: 0.7rem;
  color: color-mix(in srgb, var(--grey-color), transparent 40%);
  margin-top: -12px;
  margin-bottom: 20px;
}

#total {
  display: flex;
  justify-content: space-between;
  font-family: manrope;
}

#checkout {
  width: 100%;
  height: 36px;
}
#vote-number::placeholder {
  font-size: 0.7rem;
}

#checkout-modal {
  width: 35%;
  height: 400px;
  border: 2px solid var(--gold-color);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--black-color);
}

#card-expiry-div {
  width: 30%;
  display: flex;
  align-items: center;
}

#expiry-cvc-div {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#expiry-cvc-label {
  display: flex;
  justify-content: space-between;
  width: 47%;
}

#card-expiry-month {
  width: 2.5rem;
  margin-right: 6px;
  margin-bottom: 0;
  margin-top: 0;
}

#card-expiry-year {
  width: 2.5rem;
  margin-left: 6px;
  margin-top: 0;
  margin-bottom: 0;
}

#card-expiry-seperator {
  font-size: 1.2rem;
  margin: 0;
}

#card-cvc {
  margin: 0;
  width: 7rem;
}
#pay-button {
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

#card-number::placeholder {
  font-size: 1rem;
  letter-spacing: 2px;
}

#checkout-modal label {
  font-family: manrope;
  font-size: 0.7rem;
}
